<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
            <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css' />
            <title>Congreso científico</title>
            <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>

        <div id="wrapper">
    
        <div id="header" class="container">
            <div id="logo">
                <h1><a href="#">{% block title %} {% endblock %} </a></h1>
            </div>
        </div>
    
    <!-- end #header -->
    <div id="page">
        <div id="three-columns">
        
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <!-- end #content -->
        <div id="sidebar">
            {% block sidebar %}{% endblock %}
            {% block linea %}{% endblock %}
            {% block sidebar1 %}{% endblock %}

        </div>
        
        <!-- end #sidebar -->
        <div style="clear: both;">&nbsp;</div>
    </div>
    <div class="container"><img src="images/img03.png" width="1000" height="40" alt="" /></div>
    <!-- end #page --> 
</div>
<div id="footer-content"></div>
<div id="footer">
    <p>&copy; Untitled. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>