{# src/Congreso/CongresoBundle/Resources/views/Congreso/contact.html.twig #}
{% extends 'CongresoCongresoBundle::layout.html.twig' %}

{% block title %}Contacto{% endblock%}

{% block body %}
    <header>
        <h1>Contacta con nosotros</h1>
    </header>
    <p>A continuación puedes encontrar el repositorio para esta página de Congreso Científico subido a GitHub:</p>
    <a href="https://github.com/anneidigoras/congreso" target="_blank">Congreso Científico (Repo)</a>
    <div class="separator"></div>
    <p>Puedes encontrarnos también en nuestras cuentas de LinkedIn o contactarnos por correo:</p>
	<ul>
		<li><a href="https://www.linkedin.com/in/anne-idigoras-pagola-772326a8/" target="_blank">Anne Idigoras</a> - anneidigoras@opendeusto.es</li>
		<li><a href="https://www.linkedin.com/in/imanol-echeverr%C3%ADa-franco-67617513b/" target="_blank">Imanol Echeverría</a> - imanol.echeverria@opendeusto.es</li>
		<li><a href="https://www.linkedin.com/in/garikoitz-bereciartua-ram%C3%B3n-a40322152/" target="_blank">Garikoitz Bereciartua</a> - gari.bereciartua@opendeusto.es</li>
		<li><a href="https://www.linkedin.com/in/benatgaldos/" target="_blank">Beñat Galdós</a> - benatgaldos@opendeusto.es</li>
	</ul>
{% endblock %}
