{# src/Congreso/CongresoBundle/Resources/views/Congreso/contact.html.twig #}
{% extends 'CongresoCongresoBundle::layout.html.twig' %}

{% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% endblock %}


{% block title %}Contacto{% endblock%}

{% block body %}
	<div class="container">
	    <header>
	       {% trans %} <h1>Contacta con nosotros</h1> {% endtrans %}
	    </header>
	    <p>A continuación puedes encontrar el repositorio para esta página de Congreso Científico subido a GitHub:</p>
	    <a href="https://github.com/anneidigoras/congreso" target="_blank">Congreso Científico (Repo)</a>
	    <div class="separator"></div>
	    <p>Información detallada de los colaboradores del proyecto:</p>
	</div>
 {% endblock %}
 

{% block tabla %}

	<div class="container">
	<table id="tabla">


			
		<theader>
			<th name="Nombre">Nombre</th><th name="Cargo">Cargo</th><th name="Email">Email</th><th name="LinkedIn">LinkedIn</th>
		</theader>
	
		<tbody>
			<tr>
				<td class="num" id="Nombre" >Beñat Galdós</td><td class="num" id="Cargo">Desarrollador + Coordinador</td><td class="num" id="Email">benatgaldos@opendeusto.es</td><td class="num" id="LinkedIn" ><a href="https://www.linkedin.com/in/benatgaldos/" target="_blank">Referencia</a></td>
			</tr>
			<tr>
				<td class="num" id="Nombre" >Anne Idigoras</td><td class="num" id="Cargo">Desarrolladora</td><td class="num" id="Email">anneidigoras@opendeusto.es</td><td class="num" id="LinkedIn" ><a href="https://www.linkedin.com/in/anne-idigoras-pagola-772326a8/" target="_blank">Referencia</a></td>
			</tr>
			<tr>
				<td class="num" id="Nombre" >Imanol Echeverría</td><td class="num" id="Cargo">Desarrollador</td><td class="num" id="Email">imanol.echeverria@opendeusto.es</td><td class="num" id="LinkedIn" ><a href="https://www.linkedin.com/in/imanol-echeverr%C3%ADa-franco-67617513b/" target="_blank">Referencia</a></td>
			</tr>
			<tr>
				<td class="num" id="Nombre" >Garikoitz Bereciartua</td><td class="num" id="Cargo">Desarrollador</td><td class="num" id="Email">gari.bereciartua@opendeusto.es</td><td class="num" id="LinkedIn" ><a href="https://www.linkedin.com/in/garikoitz-bereciartua-ram%C3%B3n-a40322152/" target="_blank">Referencia</a></td>
			</tr>
		</tbody>
	</table>
	</div>

{% endblock %}
	

