{# src/Congreso/CongresoBundle/Resources/views/Congreso/contact.html.twig #}
{% extends 'CongresoCongresoBundle::layoutIng.html.twig' %}

{% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% endblock %}


{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact with us</h1>
    </header>
    <p>You can find the repository of the page in the nect link:</p>
    <a href="https://github.com/anneidigoras/congreso" target="_blank">Scientific Congress(Repo)</a>
    <div class="separator"></div>
    <p>More information about the collaborators:</p>

 {% endblock %}
 

{% block tabla %}

	<div class="tabla">
	<table id="tabla">


			
		<theader>
			<th name="Nombre">Name</th><th name="Position">Cargo</th><th name="Email">Email</th><th name="LinkedIn">LinkedIn</th>
		</theader>
	
		<tbody>
			<tr>
				<td class="num" id="Nombre" >Beñat Galdós</td><td class="num" id="Cargo">Developer + Coordinator</td><td class="num" id="Email">benatgaldos@opendeusto.es</td><td class="num" id="LinkedIn" ><a href="https://www.linkedin.com/in/benatgaldos/" target="_blank">Referencia</a></td>
			</tr>
			<tr>
				<td class="num" id="Nombre" >Anne Idigoras</td><td class="num" id="Cargo">Developer</td><td class="num" id="Email">anneidigoras@opendeusto.es</td><td class="num" id="LinkedIn" ><a href="https://www.linkedin.com/in/anne-idigoras-pagola-772326a8/" target="_blank">Referencia</a></td>
			</tr>
			<tr>
				<td class="num" id="Nombre" >Imanol Echeverría</td><td class="num" id="Cargo">Developer</td><td class="num" id="Email">imanol.echeverria@opendeusto.es</td><td class="num" id="LinkedIn" ><a href="https://www.linkedin.com/in/imanol-echeverr%C3%ADa-franco-67617513b/" target="_blank">Referencia</a></td>
			</tr>
			<tr>
				<td class="num" id="Nombre" >Garikoitz Bereciartua</td><td class="num" id="Cargo">Developer</td><td class="num" id="Email">gari.bereciartua@opendeusto.es</td><td class="num" id="LinkedIn" ><a href="https://www.linkedin.com/in/garikoitz-bereciartua-ram%C3%B3n-a40322152/" target="_blank">Referencia</a></td>
			</tr>
		</tbody>
	</table>
	</div>

{% endblock %}

{% block sidebar %}
    <p class="continue"><a href="/">Back Home</a></p>
{% endblock %}
