/*
Autores: Anne Idigoras, Imanol Echeverría, Beñat Galdós, Garikoitz Bereciartua.
Motivación: Estilo para añadir un formulario de Login al backend.
Referencia: Ejemplos comentados y distribuidos en clase.
Fecha de finalización y validación: 16/09/2017
*/

form.login { position: absolute; top: 50%; left: 32%; }