/*
Autores: Anne Idigoras, Imanol Echeverría, Beñat Galdós, Garikoitz Bereciartua.
Motivación: Estilo para personalizar la apariencia del contenido de los artículos, así como sus comentarios.
Referencia: Ejemplos comentados y distribuidos en clase.
Fecha de finalización y validación: 16/09/2017
*/

.date { font-style:italic; border-bottom: 1px solid #000; }
.body { margin-top: 20px; text-align: justify; }
.comments { clear: both; }
.comments .odd { background: #0F0; }
.comments .comment { padding: 20px; }
.comments .comment p { margin-bottom: 0; }
.comments h3 { padding: 10px; font-size: 20px; margin-bottom: 20px; clear: both; border-bottom: 1px solid #000; }
.comments .previous-comments { margin: 20px 0 20px 0; }
.comments form label { display: block; width: 100px; margin-top: 20px; }
.comments form textarea { width: 100%; height: 100px; margin-bottom: 20px; }