
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Autores: Anne Idigoras, Imanol Echeverría, Beñat Galdós, Garikoitz Bereciartua.
Motivación: Estilo global de la aplicación.
Referencia: Ejemplos comentados y distribuidos en clase.
Fecha de finalización y validación: 16/09/2017

*/

body {
	margin: 0;
	padding: 0;
	background: #C5DA99;
	font-family: 'Abel', sans-serif;
	font-size: 12pt;
	color: #787878;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	color: #262626;
}

h1 {
	font-size: 300%;
}

h2 {
	font-size: 160%;
}

h3 {
	font-size: 300%;
}
h4 {
	font-size: 200%;
	color: #5D781D;
}


p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #2F2F2F;
}

.container {
	width: 1000px;
	margin: 0px auto;
}

/* Header */

#header {
	width: 1000px;
	margin: 0px auto;
	background: #415C13;
}

#header .top { border-bottom: 1px solid #ccc; margin-bottom: 10px; }
#header ul.navigation { list-style: none; text-align: right; }
#header ul.navigation h1 { display: inline; text-align: left; }
#header .navigation li { display: inline; color: #ffffff;}
#header .navigation li a { display: inline-block; padding: 10px 15px; border-left: 1px solid #ccc; color: white; }
#header h1 a { text-align: center; display:block; color: #ffffff; }

/* Page */

#page {
	width: 900px;
	margin: 60px auto 0 auto;
	padding: 30px 50px;
	background: #FFFFFF;
}

/* Content */

#content {
	float: left;
	width: 600px;
	padding: 0px 0px 0px 0px;
}

.comments {
	display: block;
	float: left;
	width: 100%;
	padding: 5px 0px;
	border-radius: 10px 10px 0px 0px;
	text-align: left;
	color: #000000;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 270px;
	margin: 0px;
	padding: 30px 0px 0px 0px;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a:hover {
	text-decoration: underline;
}

table, th, td {
    text-align: center;
}

th {
    background-color: #669999;
    color: white;
}

td {
  color:black;
  }

td:nth-child(1) {
  width: 185px;
  height: 25px;
  }
 td:nth-child(2) {
  width: 185px;
  height: 25px;
  }
 td:nth-child(3) {
  width: 235px;
  }
 td:nth-child(4) {
  width: 70px;
  height: 25px;
  }

/* Footer */

#footer {
	height: 100px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: 'Abel', sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 10px;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #303030;
}

#footer a {
	color: #414141;
}

#three-columns {
	overflow: hidden;
	width: 900px;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid #C9C8C8;
}

.separator
{ width: 90%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}

#wrapper a { text-decoration: none; color: #F48A00; }