{# src/Congreso/CongresoBundle/Resources/views/Cientifico/list.html.twig #}

{% for cientifico in cientificos %}

    <p>{{ cientifico.nombre }}</p>

{% else %}

    <p>No hay cientificos para este articulo.</p>

{% endfor %}