{# src/Congreso/CongresoBundle/Resources/views/Cientifico/list.html.twig #}

{% for cientifico in cientificos %}

    <p class="continue"><a href="{{ path('congreso_cientifico_artcen', { 'id': cientifico.id }) }}">{{ cientifico.nombre }}</a></p>

{% else %}

    <p>No hay cientificos para este articulo.</p>

{% endfor %}