{# src/Congreso/CongresoBundle/Resources/views/Comment/form.html.twig #}

<form action="{{ path('congreso_comment_create', { 'articulo_id' : comment.articulo.id } ) }}" method="articulo" {{ form_enctype(form) }} class="congreso">
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Enviar">
    </p>
</form>
