{# src/Congreso/AdminBundle/Resources/views/Security/login.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}
Login
{% endblock %}

{% block body %}

{% if error %}
	<script>
    alert("Usuario o contraseña erróneas");
	</script>
{% endif %}

<form action="{{ path('congreso_admin_login_check') }}" method="post"  class="login">
	<label for="username">Usuario:</label>
	<input type="text" id="username" name="_username" value="{{ last_username }}" />

	<label for="password">Contraseña:</label>
	<input type="password" id="password" name="_password" />

	<button type="submit">Entrar</button>
</form>
{% endblock %}